<%#= link_to "Add new cocktail?", new_cocktail_path  %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to "#", class: "navbar-brand" do %>
    <h4>Cocktail & Cocktail</h4>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Add Cocktail?", new_cocktail_path, class: "btn btn-ghost" %>
      </li>
    </ul>
  </div>
</div>

<div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'bar4.jpg' %>);">
  <div class="container">
    <h1>Make your Cocktails. Change your life.</h1>
  </div>
</div>


<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do  %>
      <%  if cocktail.photo.attached? %>
      <%    img_option_url = cl_image_path cocktail.photo.key, height: 180, width: 465, crop: :thumb %>
      <%  else %>
      <%    img_option_url = asset_url('cocktail.jpg') %>
      <%  end %>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= img_option_url %>)">
        <%= cocktail.name %>
      </div>
    <% end %>
  <% end %>
</div>






  <!--   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%#= cocktail.name %>
      <%#= link_to "check dose", cocktail_path(cocktail)  %>
    </div> -->


